.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.login-heading {
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form-input-field {
  margin-bottom: 20px;
}

.form-input-field label {
  display: block;
  margin-bottom: 5px;
}

.form-input-field input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.register-here {
  margin-top: 20px;
}
.login-button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.login-check-box-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -15px;
  margin-bottom: 15px;
}
.login-show-password-text {
  margin-left: 10px;
}
